.testimonial {
    position: relative;
  }
  
  .testimonialImage {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial::before,
  .testimonial::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px; /* Adjust as needed */
    background: rgba(173, 216, 230, 0.5); /* bg-blue-200 color */
    z-index: 0;
  }
  
  .testimonial::before {
    left: -100px; /* Adjust as needed */
    box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial::after {
    right: -100px; /* Adjust as needed */
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.1);
  }
  